<!DOCTYPE html>
<html>
<head>
  {{template "head"}}
</head>
<body>
  {{template "navbar"}}

  {{template "sidemenu"}}

  <div class="column" id="content">
    <div class="columns2">
      <div class="columns2">
        <br>
        <br>
        <p class="text" style="font-size:70px; margin-left: -5.2em; margin-top:-1em;"><strong class="text" id="ueberschrift">Kartei anschauen</strong></p>

        <p class="subtitle is-6"style="margin-left: -20.7em;">Hier kannst du dir eine beliebige Kartei anschauen ohne Sie zu bearbeiten.</p>
      </div>

    </div>
    <div class="columns">
      <div class="column is-12">
        <div class="boxfull" style="margin-top: 2em; margin-left: 21.5em; font-size:18px;">
          <table class="category">
            <thead>
              <tr>
                <td>Name</td>
                <td>Kategorie</td>
                <td>Nutzername</td>
                <td>Fortschritt</td>
              </tr>
            </thead>
            <tbody>
              {{with .Kasten}}
              <tr>
                <th>{{.Titel}}</th>
                <th>{{.Oberkategorie}} ▶ {{.Unterkategorie}}</th>
                <th>{{.Ersteller}}</th>
                <th>{{.Fortschritt}}%</th>
              </tr>
              {{end}}
            </tbody>
          </table>

          <div style="margin-top:-57px; margin-left:1350px;">
            <div class="hexagon">
              <div id=number>23</div>
              <div id="karten">Karten</div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="columns2" style="margin-top: 2em; margin-left:16.8em;">

      <div class="column is-3">
        {{range $i, $v:= .AllKarten}}
        <a href="javascript:showCard('{{.titel}}');">
          <div class="box left" style="margin-left: 6.6em; margin-top: 1em">
            #{{$i}}
            <h1><strong>{{.titel}}</strong></h1>

          </div>
        </a>
        {{end}}
      </div>
    </div>
    <div class="column is-7">
      {{range .AllKarten}}

      <div id="{{.titel}}" class="boxbig showBox" style="margin-left: 46em; margin-top: -14.3em;height: auto; display:none;">
        <div class="columns" style="margin-top: 20px; margin-left:-180px;">
          <div class="column is-3 box-item" style="text-align: right;">
            Titel
          </div>
          <div class="column is-6 box-item bold-text left">
            {{.titel}}
          </div>

          <div class="column is-4">
            <div class="hexagongrey" style="margin-top: -5px; margin-left: -200px;">
              <div id=hexagongreynumber>0</div>
            </div>
            <div class="hexagon" style="margin-top: -44.6px; margin-left:-130px;">
              <div id=hexagongreynumber>1</div>
            </div>
            <div class="hexagongrey" style="margin-top: -44.2px;; margin-left:-60px;">
              <div id=hexagongreynumber>2</div>
            </div>
            <div class="hexagongrey" style="margin-top: -43.8px; margin-left:10px;">
              <div id=hexagongreynumber>3</div>
            </div>
            <div class="hexagongrey" style="margin-top: -43.4px; margin-left:80px;">
              <div id=hexagongreynumber>4</div>
            </div>
          </div>
        </div>
        <div class="columns" style="margin-top: 20px; margin-left:-180px;">
          <div class="column is-3 box-item" style="text-align: right;">
            Frage
          </div>
          <div class="column is-6 box-item left">
            {{.frage}}
          </div>
        </div>

        <div class="columns" style="margin-top: 20px; margin-left:-180px;">
          <div class="column is-3 box-item" style="text-align: right;">
            Antwort
          </div>
          <div class="column is-6 box-item left">
            {{.antwort}}
          </div>
        </div>
      </div>
      {{end}}

    </div>
  </div>
  <script src="js/showCard.js"></script>

</body>
</html>
