
		{{define "head"}}

		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Brain Train</title>
        <link rel="icon" type="image/png" href="/img/Favicons/favicon-16x16.png" sizes="16x16">
		    <link rel="icon" type="image/png" href="/img/Favicons/favicon-32x132.png" sizes="32x32">

        <link rel="stylesheet" href="css/bulma.min.css">
        <link rel="stylesheet" href="css/styles.css">
				<link rel="stylesheet" href="css/bootstrap.css">
				<link rel="stylesheet" href="css/open-iconic-bootstrap.css">

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

		{{end}}
