<!DOCTYPE html>
<html>
    <head>
       {{template "head"}}
    </head>
    <body>
              {{template "navbarUL"}}
              {{template "sidemenuUL"}}

        <div class="columns">
            <div class="column is-9">
                <div class="box">
                    <br>
                    <br>

                    <h1 class="title"><strong>Willkommen bei <span id= "darkGreen-text">Brain<span id="lightGreen-text">Train</span></span></strong></h1>
                <h3 class="center">  Logge dich ein um deine ersten Karteikästen zu erstellen</h3>

                </div>
            </div>
        </div>
    </body>
</html>
