<!DOCTYPE html>
<html>
    <head>
       {{template "head"}}
    </head>
    <body>
              {{template "navbarUL"}}
              {{template "sidemenuUL"}}

        <div class="columns">
            <div class="column is-9">
                <div class="box">
                    <br>
                    <br>

                    <h1 class="title"><strong>Willkommen bei <span id= "darkGreen-text">Brain<span id="lightGreen-text">Train</span></span></strong></h1>
                    Hier haben sich <strong>{{.Nutzeranzahl}} Nutzer</strong> angemeldet und zusammen <strong>{{.Karteikartenanzahl}} Lernkarten</strong> in <strong> {{.Karteienanzahl}} Karteien</strong> erstellt.

                </div>
            </div>
        </div>
    </body>
</html>
