<!DOCTYPE html>
<html>
    <head>
       {{template "head"}}

    </head>
    <body>
              {{template "navbar"}}

        {{template "sidemenu"}}

        <div class="column" id="content">
            <div class="columns2">
                <div class="columns2">
                    <br>
                    <br>
                    <p class="text " style="font-size:70px; margin-left: -5.2em; margin-top:-1em;"><strong class="text" id="ueberschrift" style="font-weight: bold;">Lernen</strong></p>

                    <p class="subtitle is-6"style="margin-left: -20.7em;">Hier wird dir zufällig eine Karte aus der gewählten Kartei angezeigt.</p>
                </div>

            </div>
            <div class="columns">
                <div class="column is-12">
                    <div class="boxfull" style="margin-top: 2em; margin-left: 21.5em; font-size:18px;">
                        <table class="category">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td></td>
                                    <td>Kategorie</td>
                                    <td></td>
                                    <td>Fortschritt</td>
                                    <td></td>
                                    <td>Wiederholung</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Geometrie</th>
                                    <th></th>
                                    <th>Naturwissenschaften ▶ Mathematik</th>
                                    <th></th>
                                    <th>0%</th>
                                    <th></th>
                                    <th>Karten</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>2</th>
                                    <th>1</th>
                                    <th>0</th>
                                </tr>

                            </tbody>
                        </table>
                        <div style="margin-top:-60px; margin-left:1350px;">
                            <div class="hexagon">
                                <div id=number>23</div>
                                <div id="karten">Karten</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="columns2" style="margin-top: -12em; margin-left:16.8em;">

                <div class="column is-8">
                    <div class="boxbig" style="margin-left:280px;margin-top:170px ; height: auto;">
                        <div class="columns" style="margin-top: 20px; margin-left:-180px;">
                            <div class="column is-3 box-item" style="text-align: right;">
                                Titel
                            </div>
                            <div class="column is-6 box-item bold-text left">
                                Titel der Karte
                            </div>
                        </div>   
                        <div class="columns" style=" margin-left:-180px;">
                            <div class="column is-3 box-item" style="text-align: right;">
                                Frage
                            </div>
                            <div class="column is-6 box-item left">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.    
                            </div>
                        </div>
                        <div class="columns" style="margin-left:-180px;">
                            <div class="column is-3 box-item" style="text-align: right;">
                                Antwort
                            </div>
                            <div class="column is-6 box-item left">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            </div>
                        </div>  
                        <div id="buttonscenter">
                            <a href="lernen"><button class="button button-green white-text white-text bold-text center" id="button-normal"  type="submit"> Richtig
                                </button></a>
                            <a href="lernen"><button class="button button-red white-text bold-text"  id="button-normal"type="submit"> Falsch
                                </button></a>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>