<!DOCTYPE html>
<html>
    <head>
       {{template "head"}}
    </head>
    <body>
              {{template "navbarUL"}}
       {{template "sidemenuUL"}}

        <div class="columns1">
            <p class="text " style="font-size:70px;margin-top: 0.7em;"><strong class="text" id="ueberschrift">Registrieren</strong></p>
        </div>
        <div class="columns">
            <div class="column is-9">



                <div class="box" style="margin-top: 3em;">
                    <h1 class="text left">Wir freuen uns, dass du dich bei BrainTrain anmelden möchtest. Bitte beachte, dass <span class="bold-text">pro E-Mail Adresse nur ein Nutzer</span> erstellt werden kann und jeder <span class="bold-text">Nutzername nur einmal vergeben </span>wird.</h1>
                    <form action="/add-user" method="POST">

                    <div class="columns" style="margin-top: 20px; margin-left:-10px;" >
                        <div class="column box-item" style="text-align: right;">
                            Nutzername
                        </div>
                        <div class="column">
                            <div class="box-item">

                                <input class="input is-hovered is-normal inputbackground" id="is-black" type="text"name="username" style="size:50px;"
                                       placeholder="maxmustermann">
                            </div>
                        </div>
                        <div class="column arrow_box white-text left" style="font-size: 14px;">
                            Dieser Nutzername ist bereits vergeben!
                        </div>
                    </div>
                    <div class="columns" style="margin-top: -20px; margin-left:-10px;">
                        <div class="column box-item" style="text-align: right;">
                            E-Mail
                        </div>
                        <div class="column">
                            <div class="box-item">
                                <input class="input is-hovered is-normal inputbackground" name="mail" id="is-black" type="text" style="size:50px;"
                                       placeholder="muster@example.com">
                            </div>
                        </div>
                        <div class="column arrow_box white-text left" style="font-size: 14px;">
                            Diese Mail ist bereits vergeben
                        </div>
                    </div>
                    <div class="columns" style="margin-top: -20px; margin-left:-10px;">
                        <div class="column box-item" style="text-align: right; margin-right: 4em;">
                            Password
                        </div>
                        <div class="column">
                            <div class="box-item" style="margin-right: 3.6em; margin-left: -3.9em;">
                                <input class=" input is-hovered is-normal inputbackground" id="is-black" name="password" type="password" style="size:50px;">
                            </div>
                        </div>
                        <div class="column">
                        </div>
                    </div>
                    <div class="columns" style="margin-top: 20px; margin-left:-10px;">
                        <div class="column box-item" style="text-align: right;">
                            Passwort wiederholen
                        </div>
                        <div class="column">
                            <div class="box-item">
                                <input class="input is-hovered is-normal inputbackground" id="is-black" name="passwordCheck" type="password" style="size:50px;">
                            </div>
                        </div>
                        <div class="column arrow_box white-text left" style="font-size: 14px;">
                            Die Passwörter stimmen nicht überein!
                        </div>
                    </div>
                    <div class="columns" style="margin-top: -20px; margin-left:-10px;">
                        <div class="column box-item" style="text-align: right;">

                        </div>
                        <div class="column">
                            <div class="box-item left">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span style="font-size: 15px;text-align: left;">Ich habe die nicht vorhandene Datenschutz-</span>
                                    <br>
                                    <span style="font-size: 15px;text-align: left; margin-left: 1.3em;">erklärung zur Kenntnis genommen.</span>
                                </label>
                            </div>
                        </div>
                        <div class="column arrow_box white-text left" style="font-size: 14px;">
                            Bitte setzen Sie hier einen Haken!
                        </div>
                    </div>
                    <br>
                    <div class="columns" style="margin-top: -20px; margin-left:-90px; margin-bottom: -2.3em;">
                        <div class="column">
                            <div class="box-item">
                                <a href="karteikasten"><button class="button is-normal button-yellow white-text bold-text" id="button-big"
                                                                    type="submit"> Registrieren </button></a>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                  </form>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
        	<script src="/js/jquery-3.3.1.slim.min.js"></script>
        	<script src="/js/popper.min.js"></script>
        	<script src="/js/bootstrap.min.js"></script>
        	{{if .ErrorMsg}}
        	<script src="/js/alertify.min.js"></script>
        	<script>
        		// error message appears for 3 seconds
        		alertify.error('{{.ErrorMsg}}', 3);
        	</script>
        	{{end}}
    </body>
</html>
