		{{define "sidemenu"}}

<aside class="menu">
            <ul class="menu-list" id="sideMenu">
                <div class="abstand">
                    <li>
                        <a href="/index">
                            <span class="icon">
                                <figure class="image is-24x24">
                                    <img src="img/Icons/Home.svg">
                                </figure>
                            </span>
                            <span> Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/karteikasten">
                            <span class="icon">
                                <figure class="image is-24x24">
                                    <img src="/img/Icons/Karteikasten.svg">
                                </figure>
                            </span>
                            <span> Karteikasten</span><span class="badge badge-green">22</span>
                        </a>
                    </li>
                    <li>
                        <a href="./meinekarteien">
                            <span class="icon">
                                <figure class="image is-24x24">
                                    <img src="/img/Icons/Meine-Karteien.svg">
                                </figure>
                            </span>
                            <span> Meine Karteien</span><span class="badge badge-green" style="margin-left: 47%;">7</span>
                        </a>
                    </li>
                    <li>
                        <a href="./profil">
                            <span class="icon">
                                <figure class="image is-24x24">
                                    <img src="/img/Icons/Mein-Profil.svg">
                                </figure>
                            </span>
                            <span> Mein Profil</span>
                        </a>
                    </li>
                </div>
            </ul>
        </aside>
        
        {{end}}