		{{define "sidemenuUL"}}

 <aside class="menu">
            <ul class="menu-list" id="sideMenu">
                <div class="abstand">
                    <li class="is-active">
                        <a href="/index">
                            <span class="icon">
                                <figure class="image is-24x24">
                                    <img src="img/Icons/Home.svg">
                                </figure>
                            </span>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/karteikasten">
                            <span class="icon">
                                <figure class="image is-24x24">
                                    <img src="img/Icons/Karteikasten.svg">
                                </figure>
                            </span>
                            <span>Karteikasten</span><span class="badge badge-green">22</span>
                        </a>
                    </li>
                </div>
            </ul>
        </aside>
        
        {{end}}